@import './_variables.scss';

.song-title {
  font-size: 32px;
  font-weight: 700;
  color: $primaryColorMediumLight;
  text-transform: uppercase;
  text-align: center;
  width: 50%;
  margin: 100px auto 25px auto;
}
.break-line{
  width: 30%;
  height: 1px;
  background-color: $primaryColorMediumLight;
  margin: 35px auto 100px auto;
}

.visualization-graph-bar {
  .rv-xy-plot__grid-lines {
    stroke: $primaryColorMedium;
  }
  .rv-xy-plot__inner {
    overflow: visible;
  }
}
